<div class="block block_<%= @block.id %> <%= @block.css_classes.blank? ? 'mt-2 mb-2 pt-4 pb-4' : @block.css_classes %>">
  <%= @block.content %>
  <% for @block in @block.blocks %>
    <%= render @block %>
  <% end %>
</div>