<div class="block block_<%= @block.id %> <%= @block.css_classes.blank? ? 'm-4 p-4' : @block.css_classes %>">
  <%= @block.content %>
  <% for @block in @block.blocks %>
    <%= render @block %>
  <% end %>
</div>