<% for @block in @page.blocks %>
  <%= render partial: "rhino/blocks/show", block: @block %>
<% end %>
<div class="text-center">
  <%= link_to "Add Block", new_block_path(page_id: @page.id), data: {remote: true}, class: 'btn btn-primary' %>
</div>