<% for @block in @page.blocks %>
  <%= render "rhino/blocks/edit" %>
<% end %>
<div class="text-center">
  <%= link_to "Add Block", new_block_path(page_id: @page.id), class: 'btn btn-primary' %>
</div>