<h1>
  Editing Page
  <li class="d-inline-block mb-0 rem1" style="font-size:1rem;"><a href="/<%= @page.url %>" target="_blank"><i class="fas fa-external-link"></i></a></li>
</h1>

<%= render 'form', page: @page %>

<div class="pt-4">
  <%= link_to 'Show', @page %> |
  <%= link_to 'Back', pages_path %>
</div>