<h1>
  Editing Page
  <li class="d-inline-block mb-0"><a href="/<%= @page.url %>" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
</h1>

<%= render 'form', page: @page %>

<div class="pt-4">
  <%= link_to 'Show', @page %> |
  <%= link_to 'Back', pages_path %>
</div>